$purple: #a81dfe;
$purple_light: #b238ff;
$turquesa: #03aca8;
$yellow: #FDD111;
$gris: #ededed;
$dark: #303030;
$green: #00876F;
$morado: #6d4af9;
$mainSectionPadding: 10px;
$headerBorderRadius: 8px;
